.main {
  padding: 6rem;
  min-height: 100vh;
}

.actionList{
  margin-bottom: 20px;
}

.writeBlock {
  flex: 1;
  height: 80vh;
  width: 100%;
}

.workspaceBody{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.writeBlock:hover {
  box-shadow: 0px 0px 10px 10px rgba(24, 144, 255, 0.1);
}

.markdownBlock:hover {
  box-shadow: 10px 10px 0px 0px rgba(24, 144, 255, 0.1);
}

.markdownBlock {
  flex: 1;
  height: 80vh;
  width: 100%;
}

.wordInputArea {
  height: 100% !important;
  min-height: 40vh !important;
  font-size: 16px;
}

@media (max-width: 1300px) {
  .main {
    flex-direction: column;
  }

  .writeBlock {
    height: 40vh;
  }

  .markdownBlock {
    height: 40vh;
  }
}
